markdown: kramdown
permalink: /:categories/blog/:year/:month/:day/:title.html
paginate: 5
url: http://mroonga.org
future: true
incremental: true
mroonga_version: "11.06"
mroonga_release_date: 2021-08-29

kramdown:
  input: GFM
  smart_quotes: ["apos", "apos", "quot", "quot"]
  coderay_line_numbers: nil
plugins: [jekyll-paginate]

defaults:
  - scope:
      path: "ja/blog"
    values:
      layout: "ja"
      language: ja
      country: JP
      title: Mroongaブログ
      heading_link: /ja/blog/
      relative_url: blog/
  - scope:
      path: "ja"
      type: "posts"
    values:
      layout: "post.ja"
      language: ja
      country: JP
      heading: Mroongaブログ
      heading_link: /ja/blog/
      relative_url: blog/
  - scope:
      path: "blog"
    values:
      layout: "en"
      language: en
      country: US
      title: Mroonga blog
      heading_link: /blog/
      relative_url: blog/
  - scope:
      path: "en"
      type: "posts"
    values:
      layout: "post.en"
      language: en
      country: US
      heading: Mroonga blog
      heading_link: /blog/
      relative_url: blog/
  - scope:
      path: "ja"
    values:
      layout: "ja"
      language: ja
      country: JP
  - scope:
      path: ""
    values:
      layout: "en"
      language: en
      country: US
